---
import Hero from "@sections/Hero.astro";
import Subheader from "@sections/Subheader.astro";
import LoadScripts from "@components/LoadScripts.astro";

import "@styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Hero />
    <Subheader />
  </body>
  <LoadScripts />
</html>
