<footer
  data-scroll
  data-scroll-direction="vertical"
  data-scroll-speed="-8"
  data-scroll-position="bottom"
  data-scroll-offset="0,0"
  class="sticky bottom-0 -z-10 bg-stone-900 text-white p-4 sm:p-8"
>
  <div class="pt-16 sm:pt-0">
    <div class="flex flex-col sm:flex-row justify-between sm:items-end gap-16">
      <div class="flex flex-col gap-8">
        <h6
          class="font-oswald text-8xl self-start sm:text-[12rem] xl:text-[16rem] max-w-[300px] lg:max-w-none font-thin !leading-none"
        >
          Talk to us!
        </h6>
      </div>
      <!-- prettier-ignore -->
      <div class="font-medium text-right who-we-are overflow-hidden">
        <span>ooopus.agency@gmail.com</span>
      </div>
    </div>
  </div>
</footer>
