---

---

<div
  data-scroll
  data-scroll-call="animateInterested"
  data-scroll-offset="20%"
  class="bg-white p-4 sm:p-8 pt-24 sm:pt-0"
>
  <span data-splitting class="interested opacity-0 text-5xl sm:text-7xl"
    >Interested in working together?</span
  >
</div>
