---
const speed = 1;
const items = [
  {
    title: "VALUE. VALUE. VALUE",
    speed: speed,
  },
  {
    title: "STORYTELLING. STORYTELLING.",
    speed: -speed,
  },
  {
    title: "VISION. VISION. VISION.",
    speed: speed,
  },
];
---

<div
  class="bg-white w-screen overflow-hidden flex flex-col gap-8 p-4 sm:p-8 h-fit"
>
  <h4 class="text-2xl font-medium">Our Mission.</h4>
  <div class="flex flex-col justify-center">
    {
      items.map((item) => (
        <p
          data-scroll
          data-scroll-offset="-20%"
          data-scroll-speed={item.speed}
          data-scroll-direction="horizontal"
          class="text-7xl leading-none self-start sm:text-[12rem] xl:text-[16rem] font-oswald font-bold text-nowrap"
        >
          {item.title}
        </p>
      ))
    }
  </div>
</div>
