---
const items = [
  {
    title: "Chemistry meeting.",
    description:
      "We get to meet eachother and discuss the details of a possible collaboration. We define expectations and goals, seeing if we are a good fit.",
  },
  {
    title: "Async collaboration.",
    description:
      "We know you are busy, and we know how it feels to get distracted by unefficient meetings. We respect your time, so the details will be set and discussed over a Trello board, making communication as smooth as it can be.",
  },
  {
    title: "Delivery.",
    description:
      "We ensure transparency and accountability by regularly updating the board with progress, milestones, and feedback loops. Upon project completion, we handle all the final details and hand off a clean and polished product to you.",
  },
];
---

<div class="bg-white pb-16 sm:pb-24 p-4 sm:p-8">
  <h5 class="mb-24 sm:mb-0 text-2xl col-start-1 grid-span-1 font-medium">
    Our Process.
  </h5>
  <div class="flex flex-col gap-16">
    {
      items.map((item, index) => (
        <div class="col-span-6 grid sm:grid-cols-6">
          <h6 class="col-start-3 leading-[1.1] sm:leading-tight text-9xl font-medium">
            0{index + 1}.
          </h6>
          <div class="relative flex flex-col gap-8 py-16 col-start-3 col-span-3 font-medium">
            <h6 class="text-5xl">{item.title}</h6>
            <p class="text-lg sm:text-xl whitespace-pre-line text-justify">
              {item.description}
            </p>
            <hr class="absolute bottom-0 border-black" />
          </div>
        </div>
      ))
    }
  </div>
</div>
